
.input-text, #albumArtist, #albumName,  select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
}
.input-text:hover, #country:hover {
  outline: 2px solid #04AA6D; 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: auto;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container-form {
  width: 40rem;
  border-radius: 5px;
  background-color: rgba(36, 37, 42, 1); ;
  padding: 20px;
}
h3 {
  margin-bottom: 10px;
  text-align: center; 
  color: #04AA6D;}

.image-upload{
    /* height: 200px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    /* background-color: white; */
    margin-top: 12px;
    margin-bottom: 12px;
}
#previewImg {
    border-radius: 4px;
    object-fit: cover;
    cursor: pointer;
}

#file-track {
  background-color: white; 
  margin-left: auto;
  padding: 10px;
  border-radius: 4px;
  color: black;
  
}
#file-track:hover {
  outline: 2px solid #04AA6D; 
}
.autosave-message {
  text-align: right;
  color: greenyellow
}
.autosave-message-saving {
  color: #999999;
}
 
@media only screen and (max-width: 700px) {
  .container-form {
    width: 30rem;
  }

} 